*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f8f8f8;
color:#333;
}

header{
position:fixed;
width:100%;
background:#1f6f2f;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
z-index:1000;
}

.logo{
font-size:24px;
font-weight:bold;
color:white;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:500;
}

.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:65px;
}

.hero h2{
font-size:40px;
margin-bottom:20px;
color:#7dff7d;
}

.hero p{
max-width:700px;
margin:auto;
font-size:20px;
}

.btn{
display:inline-block;
margin-top:30px;
background:#45b649;
padding:15px 35px;
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

section{
padding:100px 10%;
}

section h2{
text-align:center;
margin-bottom:40px;
font-size:38px;
color:#1f6f2f;
}

#sobre p{
text-align:center;
font-size:18px;
line-height:1.8;
max-width:900px;
margin:auto;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.item{
background:#1f6f2f;
color:white;
padding:30px;
border-radius:15px;
}

.contador{
background:#1f6f2f;
color:white;
}

.contador h2{
color:white;
}

.numeros{
display:flex;
justify-content:center;
gap:60px;
flex-wrap:wrap;
}

.numeros span{
font-size:50px;
font-weight:bold;
}

form{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:1px solid #ccc;
border-radius:10px;
}

button{
padding:15px;
border:none;
background:#1f6f2f;
color:white;
font-size:18px;
border-radius:10px;
cursor:pointer;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}
